<h1>Comments#show</h1>
<div class ="showComment">
<div class="row justify-content-md-center">
    <div class="col col-md-3">
    Content
    </div>
    <div class="col col-lg-2">
    Feelings
    </div>
    <div class="col col-lg-2">
    Stress Level
    </div>
    <div class="col col-lg-2">
    Date
    </div>
</div>
<% @comments.each do |comment| %>
<div class="row justify-content-md-center">
    <div class="col col-lg-3">
    <%= comment.content %>
    </div>
    <div class="col col-lg-2">
    <%= comment.emotion %>
    </div>
    <div class="col col-lg-2">
    <%= comment.score %>
    </div>
    <div class="col col-lg-2">
    <%= comment.created_at.strftime("%b %d, %Y") %>
    </div>
    </div>
<% end %>

</div>

    <%= link_to "Back", edit_comment_path(@current_user) %>