
<% if @score.present? && @score > 2 %>
<%= @score %>
<% end %>

<%= content_tag(:h2, @team.name, :class => "teamTitle")%>

<% @team.users.each do |user| %>
    <% index = 1 %>
    <% if user.id ==  @current_user.id %>
        <div class="tree <%= user.comments.last.emotion %> userTree">
            <p class="treeTag"><%= user.comments.last.content %></p>
            <%= link_to user.name, comment_path(user.id) %>
        </div>
    <% else %>
        <div class="tree <%= user.comments.last.emotion %> tree<%= index %>">
            <p class="treeTag"><%= user.comments.last.content %></p>
            <%= link_to user.name, comment_path(user.id) %>  
        <% index += 1 %>
        </div>
        <% end %>
<% end %>

<div class="cloud">
    <ul class="centered-clouds">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

<div class="raindrop"></div>

<div class="anim">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 800">
    <g fill="none" fill-rule="evenodd">
      <path d="" stroke-dasharray="undefined" style="stroke-dashoffset: 0px;"></path>
  </g></svg>
</div>
<canvas id="background"></canvas>
<div class="sun">
</div>

<div class="pedal">
</div>


  <div class="fire one"></div>
  <div class="fire two"></div>
  <div class="fire three"></div>
  <div class="fire four"></div>





